.board-row {
    display: flex;
}

.board-cell {
    border: 1px solid #ddd;
    background-color: white;
}

.board-cell.active {
    background-color: var(--tetromino-color);
}

.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  flex-direction: column;
}

.board-container-next-tetrominos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.board-container {
  flex: 1;
}

.next-tetrominos {
  margin-left: 20px;
}

.preview-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tetromino-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  padding: 10px;
}

.tetromino-preview {
  position: relative;
}

.preview-cell {
  position: absolute;
  border: 1px solid #ddd;
  background-color: var(--tetromino-color);
}
