body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
  
* {
    box-sizing: border-box;
}

@media (max-width: 420px) {
    body {
        transform: scale(0.8);
        width: 125%;
        height: 125%;
    }
}
